# Database
DATABASE_URL="postgresql://username:password@localhost:5432/my_chat_app"

# GitHub OAuth
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"

# NextAuth
AUTH_SECRET="your_auth_secret_here"
NEXTAUTH_URL="http://localhost:3000"

# Redis
REDIS_URL="redis://default:password@localhost:6379"